<html lang="en-US"><head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2%3A400%2C300%2C500%2C600%2C700%7COpen+Sans%3A300%2C400%2C700&amp;subset=latin%2Clatin-ext&amp;ver=1.0.2" type="text/css" media="all">

	<link rel="stylesheet" type="text/css" media="all" href="/assets/css/style.css">
	<title><%= title %>></title>
</head>


<body>
	<div id="main-wrapper">
		<header>
			<div id="header-main">
				<div class="container clearfix">
					<div id="header-left">
						<div class="clearfix">
							<!--Logo-->
							<a class="header-logo" href="#">
								<img src="/assets/img/logo.jpg" alt="Logo">
							</a>
						</div>
					</div>
					<div id="header-right">
						<div id="header-authentication">
							<button type="button" data-toggle="modal" data-target="#loginPopup">LOGIN</button>
							<span>|</span>
							<button type="button" data-toggle="modal" data-target="#registerPopup">REGISTER</button>
						</div>
						<div id="header-select">
							<div>
								<a id="header-language" href="#" data-toggle="dropdown" data-width="100%">
									<img src="/assets/img/lang-eng.png">ENGLISH</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="#">Arabic</a>
									</li>
									<li><a href="#">French</a>
									</li>
								</ul>
							</div>
							<div>
								<a id="header-currency" href="#" data-toggle="dropdown" data-width="100%">
									<i class="fa fa-money" style="margin-right: 3px;"></i>AED</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="#">USD</a>
									</li>
									<li><a href="#">INR</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<nav id="mainMenu">
				<div class="container">
					<div id="mainMenu-inner">
						<a href="javascript:void(0);" id="mainMenu-icon" onclick="menuFunction()">
							<i class="fa fa-bars"></i>
						</a>
						<ul id="mainMenu-links" class="clearfix">
							<li><a href="#" class="active">Home</a>
							</li>
							<li><a href="#">Cars</a>
							</li>
							<li><a href="#">Boats</a>
							</li>
							<li><a href="#">About</a>
							</li>
							<li><a href="#">Contact</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<!--main content-->
		<div class="main-content-wrapper">
			<div class="container" id="map-container">
				<div class="row">
					<div id="adInfoBox-container">
						<div id="adInfo-box">
								<div><span>Ad Number: </span> 12</div>
								<div><span>Created Date: </span> 7th January 2019</div>
								<div><span>Price:</span> 130,000 AED<i class="fa fa-pencil" aria-hidden="true"></i></div>
								<div class="hf-label">Vehicle Details</div>
								<div><span>Make: </span> Mercedes Benz</div>
								<div><span>Model: </span> E300</div>
								<div><span>Year:</span> 2017</div>
								<div><span>Transmission:</span> Automatic</div>
								<div><span>Fuel:</span> Gasoline
								</div><div><span>Description: </span>
							<br>The car is brand new condition well maintained 
Used as second car driven on weekends
Always parked in covered private parking
								</div>
								
								<div><span>Features: </span>
									<br><ul>
									<li>4 Wheel Drive</li>
									<li> Cruise Control</li>
									<li>Bluetooth System</li>
									<li>Air Conditioner</li>
									</ul>
								</div>
								<button type="submit" class="button" id="hf-button">Update</button>
						</div>
					</div>
					<div id="PhotoBox-container">
						<div id="Photo-box">
							<div style="border-bottom: 1px solid #2f3c40;">
								<h2>Photos</h2>
							</div>
							<div id="PhotoBoxItem-container">
								<div class="PhotoBox-item">
									<div class="PhotoBox-image">
										<img src="/assets/img/1-car1.jpeg">
									</div>
									<button class="PhotoBox-delete">Delete</button>
								</div>
								<div class="PhotoBox-item">
									<div class="PhotoBox-image">
										<img src="/assets/img/1-car2.jpeg">
									</div>
									<button class="PhotoBox-delete">Delete</button>
								</div>
								<div class="PhotoBox-item">
									<div class="PhotoBox-image">
										<img src="/assets/img/1-car3.jpeg">
									</div>
									<button class="PhotoBox-delete">Delete</button>
								</div>
								<div class="PhotoBox-item">
									<div class="PhotoBox-image">
										<img src="/assets/img/1-car4.jpeg">
									</div>
									<button class="PhotoBox-delete">Delete</button>
								</div>
							</div>
							<div id="PhotoBox-preview">
								<img src="/assets/img/1-car1.jpeg">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="clearfix">
						<ul id="footer-links">
							<li><a href="">Home</a> |
							</li>
							<li><a href="#"> Cars</a> |
							</li>
							<li><a href="#"> Boats</a> |
							</li>
							<li><a href="#"> About</a> |
							</li>
							<li><a href="#"> Contact</a> 
							</li>
						</ul>
						<div id="footer-right">© 2019 BUYANYCARONLINE</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="modal fade" id="loginPopup">
		<div class="modal-dialog" style="max-width: 350px;">
			<div class="modal-content popup-form">
				<!-- Modal Header -->
				<div class="modal-header pf-header">
					<h4 class="pf-title">Login</h4>
					<button type="button" class="close pf-close" data-dismiss="modal">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</div>
				<div class="pf-content">
					<div class="pf-label">Username</div>
					<input type="text" class="pf-textInput" name="name" value="" aria-required="true" aria-invalid="false" placeholder="Enter your username" size="40">
					<div class="pf-label">Password</div>
					<input type="password" class="pf-textInput" name="password" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Enter your password">
					<a href="#" class="pf-link">Forgot your password?</a>
					<input type="submit" value="Login" class="pf-submit">
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="registerPopup">
		<div class="modal-dialog" style="max-width: 350px;">
			<div class="modal-content popup-form">
				<!-- Modal Header -->
				<div class="modal-header pf-header">
					<h4 class="pf-title">Register</h4>
					<button type="button" class="close pf-close" data-dismiss="modal">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</div>
				<div class="pf-content">
					<div class="pf-label">Username(email)</div>
					<input type="text" class="pf-textInput" name="name" value="" aria-required="true" aria-invalid="false" placeholder="Enter your username" size="40">
					<div class="pf-label">Password</div>
					<input type="password" class="pf-textInput" name="password" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Enter your password">
					<div class="pf-label">Re-type Password</div>
					<input type="password" class="pf-textInput" name="password" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Enter your password">
					<input type="submit" value="Register" class="pf-submit">
					<div class="pf-social">
						<div class="pf-label">OR</div>
						<div class="pf-social-buttons">
							<a href="#" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="#" target="_blank">
								<i class="fa fa-google"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>
	<script>
		function menuFunction() {
			var x = document.getElementById("mainMenu-links");
			if (x.className === "clearfix") {
				x.className += " open";
			} else {
				x.className = "clearfix";
			}
		}
	</script>



</body></html>