<%- include('../layouts/header'); %>

		<!--main content-->
		<div class="main-content-wrapper">
			<div class="container" id="map-container">
				<div class="row">
					<div id="adInfoBox-container">
						<div id="adInfo-box">
								<div><span>Ad Number: </span> 12</div>
								<div><span>Created Date: </span> 7th January 2019</div>
								<div><span>Price:</span> 130,000 AED<i class="fa fa-pencil" aria-hidden="true"></i></div>
								<div class="hf-label">Vehicle Details</div>
								<div><span>Make: </span> Mercedes Benz</div>
								<div><span>Model: </span> E300</div>
								<div><span>Year:</span> 2017</div>
								<div><span>Transmission:</span> Automatic</div>
								<div><span>Fuel:</span> Gasoline
								</div><div><span>Description: </span>
								<br>The car is brand new condition well maintained 
								Used as second car driven on weekends
								Always parked in covered private parking
								</div>
								
								<div><span>Features: </span>
									<br><ul>
									<li>4 Wheel Drive</li>
									<li> Cruise Control</li>
									<li>Bluetooth System</li>
									<li>Air Conditioner</li>
									</ul>
								</div>
								<button type="submit" class="button" id="hf-button">Update</button>
						</div>
					</div>
					<div id="PhotoBox-container">
						<div id="Photo-box">
							<div style="border-bottom: 1px solid #2f3c40;">
								<h2>Photos</h2>
							</div>
							<div id="PhotoBoxItem-container">
								<div class="PhotoBox-item">
									<div class="PhotoBox-image">
										<img src="/assets/img/1-car1.jpeg">
									</div>
									<button class="PhotoBox-delete">Delete</button>
								</div>
								<div class="PhotoBox-item">
									<div class="PhotoBox-image">
										<img src="/assets/img/1-car2.jpeg">
									</div>
									<button class="PhotoBox-delete">Delete</button>
								</div>
								<div class="PhotoBox-item">
									<div class="PhotoBox-image">
										<img src="/assets/img/1-car3.jpeg">
									</div>
									<button class="PhotoBox-delete">Delete</button>
								</div>
								<div class="PhotoBox-item">
									<div class="PhotoBox-image">
										<img src="/assets/img/1-car4.jpeg">
									</div>
									<button class="PhotoBox-delete">Delete</button>
								</div>
							</div>
							<div id="PhotoBox-preview">
								<img src="/assets/img/1-car1.jpeg">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>
	<script>
		function menuFunction() {
			var x = document.getElementById("mainMenu-links");
			if (x.className === "clearfix") {
				x.className += " open";
			} else {
				x.className = "clearfix";
			}
		}
	</script>

<%- include('../layouts/footer'); %>
