<!--main content-->
<div class="main-content-wrapper">
	<div class="container" id="map-container">
		<div class="row">
			<div id="adInfoBox-container">
				<div id="adInfo-box">
					<input id = "ad_id" type = "hidden" value = "{{car.ad_id}}" />
					<input id = "vehicle_id" type = "hidden" value = "{{car.vehicle_id}}" />
					<input id = "car_id" type = "hidden" value = "{{car.id}}" />
					<div>
						<div>
							<span>Title: </span><a>{{car.title}}</a><i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
						<div class = "d-none">
							<input id = "title" class = "ba-input" type = "text" placeholder = "Enter title">
							<i class="fa fa-check" aria-hidden="true"></i>
						</div>
					</div>
					<div>
						<div>
							<span>Price: </span><a>{{car.price | currency}}</a><i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
						<div class = "d-none">
							<input id = "price" class = "ba-input" type = "text" placeholder = "Enter price">
							<i class="fa fa-check" aria-hidden="true"></i>
						</div>
					</div>
					<div>
						<div>
							<span>Description: </span><br><a>{{car.description}}</a><i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
						<div class = "d-none">
							<textarea id="description" cols="30" rows="10" aria-invalid="false" placeholder="Enter description" class="ba-input"></textarea>
							<i class="fa fa-check" aria-hidden="true"></i>
						</div>
					</div>
					<div class="hf-label">Vehicle Details</div>
					<div>
						<div>
							<input id = "make" type = "hidden" value = "{{car.make_id}}" />
							<span>Make: </span><a>{{car.make}}</a><i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
						<div class = "d-none">
							<select id = "make_id" class="ba-select" title="SELECT MAKE" (change) = "onMakeChange($event)" data-width="100%">
								<option *ngFor="let make of makes" [value]="make.id" >{{make.value}}</option>
							</select>
							<i class="fa fa-check d-none" aria-hidden="true"></i>
						</div>
					</div>
					<div>
						<div>
							<input id = "model" type = "hidden" value = "{{car.model_id}}" />
							<span>Model: </span><a>{{car.model}}</a><i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
						<div class = "d-none">
							<select id = "model_id" class="ba-select" title="SELECT MODEL" data-width="100%">
								<option *ngFor="let model of models" [value]="model.id" >{{model.modelvalue}}</option>
							</select>
							<i class="fa fa-check d-none" aria-hidden="true"></i>
						</div>
					</div>
					<div>
						<div>
							<span>Year: </span><a>{{car.year}}</a><i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
						<div class = "d-none">
							<select id = "year" class="ba-select" title="SELECT YEAR" data-width="100%">
								<option *ngFor="let year of years" [value]="year" >{{year}}</option>
							</select>
							<i class="fa fa-check d-none" aria-hidden="true"></i>
						</div>
					</div>
					<div>
						<div>
							<span>Fuel Type: </span><a>{{car.fueltype}}</a><i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
						<div class = "d-none">
							<select id = "fueltype" class="ba-select" title="SELECT TRANSMISSION" data-width="100%">
								<option *ngFor="let fueltype of fueltypes" [value]="fueltype" >{{fueltype}}</option>
							</select>
							<i class="fa fa-check d-none" aria-hidden="true"></i>						</div>
					</div>
					<div>
						<div>
							<span>Condition: </span><a>{{car.condition}}</a><i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
						<div class = "d-none">
							<select id = "condition" class="ba-select" title="SELECT CONDITION" data-width="100%">
								<option *ngFor="let condition of conditions" [value]="condition" >{{condition}}</option>
							</select>
							<i class="fa fa-check d-none" aria-hidden="true"></i>
						</div>
					</div>
					<div>
						<div>
							<span>Transmission: </span><a>{{car.transmission}}</a><i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
						<div class = "d-none">
							<select id = "transmission" class="ba-select" title="SELECT TRANSMISSION" data-width="100%">
								<option *ngFor="let transmission of transmissions" [value]="transmission" >{{transmission}}</option>
							</select>
							<i class="fa fa-check d-none" aria-hidden="true"></i>
						</div>
					</div>
					<div>
						<div>
							<span>Color: </span><a>{{car.color}}</a><i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
						<div class = "d-none">
							<select id = "color" class="ba-select" title="SELECT COLOR" data-width="100%">
								<option *ngFor="let color of colors" [value]="color" >{{color}}</option>
							</select>
							<i class="fa fa-check d-none" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
			<div id="PhotoBox-container">
				<div id="Photo-box">
					<div style="border-bottom: 1px solid #2f3c40;">
						<h2>Photos</h2>
					</div>
					<div id="PhotoBoxItem-container">
						<div class="PhotoBox-item" *ngFor = "let imgFile of imgFiles; let i = index">
							<div class="PhotoBox-image">
								<img [src]="imgFile">
							</div>
							<button class="PhotoBox-delete" (click) = "onDeleteSubmit(imgFile)" [attr.data-index]="i">Delete</button>
						</div>
					</div>
					<div id="PhotoBox-preview">
						<img *ngIf = "previewImgFile" src="{{previewImgFile}}">
					</div>
				</div>
				<div id="publishButton-container">
					<button id="publishButton" (click) = "onPublishSubmit()">Publish</button>
				</div>
			</div>
		</div>
	</div>
</div>


