<!--main content-->
<div class="main-content-wrapper">
	<div class="container" id="nap-container">
		<div class="loader" style = "display:none;"></div>
		<div class="row">
			<form [formGroup]="newForm" id = "newForm" method="post">
				<div id="vehicleDetailsBox-container">
					<div id="vehicleDetails-box">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<h2>Ad Details</h2>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="hf-label" style="">TITLE</div>
								<input formControlName = "title" class = "form-control ad-input" type = "text" [ngClass]="{ 'is-invalid': submitted && fNew.title.errors }" placeholder = "Enter title"/>
								<div *ngIf="submitted && fNew.title.errors" class="invalid-feedback">
									<div *ngIf="fNew.title.errors.required">Title is required</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="hf-label" style="">PRICE</div>
								<input formControlName = "price" class = "form-control ad-input" type = "number" [ngClass]="{ 'is-invalid': submitted && fNew.price.errors }" placeholder = "Enter price"/>
								<div *ngIf="submitted && fNew.price.errors" class="invalid-feedback">
									<div *ngIf="fNew.price.errors.required">Price is only required number</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="hf-label" style="">DESCRIPTION</div>
								<textarea formControlName="description" class="form-control ad-textarea" cols="30" rows="10" aria-invalid="false" [ngClass]="{ 'is-invalid': submitted && fNew.description.errors }" placeholder="Enter description" id = "description"></textarea>
								<div *ngIf="submitted && fNew.description.errors" class="invalid-feedback">
									<div *ngIf="fNew.description.errors.required">Description is required</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="vehicleDetailsBox2-container">
					<div id="vehicleDetails-box">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<h2>Vehicle Details</h2>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="hf-label" style="">MAKE</div>
								<div class="hf-select">
									<select formControlName = "make_id" class = "form-control selectpicker" [ngClass]="{ 'is-invalid': submitted && fNew.make_id.errors }" (change) = "onMakeChange($event)" title="SELECT NAME" data-width="100%">
										<option *ngFor =  "let make of makes" [value] = "make.id">{{make.value}}</option>
									</select>
									<div *ngIf="submitted && fNew.make_id.errors" class="invalid-feedback">
										<div *ngIf="fNew.make_id.errors.required">Make is required</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="hf-label">MODEL</div>
								<div class="hf-select">
									<select formControlName = "model_id" class="form-control selectpicker" [ngClass]="{ 'is-invalid': submitted && fNew.model_id.errors }" title="SELECT MODEL" data-width="100%">
										<option *ngFor="let model of models" [value]="model.id" >{{model.modelvalue}}</option>
									</select>
									<div *ngIf="submitted && fNew.model_id.errors" class="invalid-feedback">
										<div *ngIf="fNew.model_id.errors.required">Model is required</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="hf-label">YEAR</div>
								<div class="hf-select">
									<select formControlName = "year" class="form-control selectpicker" [ngClass]="{ 'is-invalid': submitted && fNew.year.errors }" title="SELECT YEAR" data-width="100%">
										<option *ngFor="let year of years" [value]="year" >{{year}}</option>
									</select>
									<div *ngIf="submitted && fNew.year.errors" class="invalid-feedback">
										<div *ngIf="fNew.year.errors.required">Year is required</div>
									</div>
								</div>	
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="hf-label">FUEL TYPE</div>
								<div class="hf-select">
									<select formControlName = "fueltype" class="form-control selectpicker" [ngClass]="{ 'is-invalid': submitted && fNew.fueltype.errors }" title="SELECT FUELTYPE" data-width="100%">
										<option *ngFor="let fueltype of fueltypes" [value]="fueltype" >{{fueltype}}</option>
									</select>
									<div *ngIf="submitted && fNew.fueltype.errors" class="invalid-feedback">
										<div *ngIf="fNew.fueltype.errors.required">Fueltype is required</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="hf-label">CONDITION
								</div>
								<div class="hf-select">
									<select formControlName = "condition" class="form-control selectpicker" [ngClass]="{ 'is-invalid': submitted && fNew.condition.errors }" title="SELECT CONDITION" data-width="100%">
										<option *ngFor="let condition of conditions" [value]="condition" >{{condition}}</option>
									</select>
									<div *ngIf="submitted && fNew.condition.errors" class="invalid-feedback">
										<div *ngIf="fNew.condition.errors.required">Condition is required</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="hf-label">TRANSMISSION</div>
								<div class="hf-select">
									<select formControlName = "transmission" class="form-control selectpicker" [ngClass]="{ 'is-invalid': submitted && fNew.transmission.errors }" title="SELECT TRANSMISSION" data-width="100%">
										<option *ngFor="let transmission of transmissions" [value]="transmission" >{{transmission}}</option>
									</select>
									<div *ngIf="submitted && fNew.transmission.errors" class="invalid-feedback">
										<div *ngIf="fNew.transmission.errors.required">Transmission is required</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="hf-label">COLOR</div>
								<div class="hf-select">
									<select formControlName = "color" class="form-control selectpicker" [ngClass]="{ 'is-invalid': submitted && fNew.color.errors }" title="SELECT COLOR" data-width="100%">
										<option *ngFor="let color of colors" [value]="color" >{{color}}</option>
									</select>
									<div *ngIf="submitted && fNew.color.errors" class="invalid-feedback">
										<div *ngIf="fNew.color.errors.required">Color is required</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="hf-label">Features</div>
								<label class="hf-checkbox" *ngFor="let feature of features">
									<input type="checkbox" [value]="feature">{{feature}}
								</label>
							</div>
							<div class="col-md-12 col-sm-12">
								<button type="submit" class="button" id="hf-button">Save</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div id="uploadPhotoBox-container" style = "display:block;">
				<div id="uploadPhoto-box"  style = "display:block;">
					<div style="border-bottom: 1px solid #2f3c40;">
						<h2>Upload Photos</h2>
						<div>
							<form [formGroup]="uploadForm" (ngSubmit)="onUploadSubmit()">
								<div class="custom-file col-md-8">
									<input type="file" class="custom-file-input" name="carimg" (change)="onFileChange($event)">
									<label class="custom-file-label" for="customFile">Choose file</label>
								</div>
								<button class="col-md-4 pt-2 uploadPhotoBox-uploadButton" type="submit">Upload</button>
							</form>							
						</div>
					</div>
					<div id="uploadPhotoBoxItem-container">
						<div class="uploadPhotoBox-item" *ngFor = "let imgFile of imgFiles;">
							<div class="uploadPhotoBox-image">
								<img [src]="imgFile">
							</div>
							<button class="uploadPhotoBox-delete" (click) = "onDeleteSubmit(imgFile)" [attr.data-index]="i">Delete</button>
						</div>
					</div>
					<div id="uploadPhotoBox-preview">
						<img *ngIf = "previewImgFile" src="{{previewImgFile}}">
					</div>
				</div>
				<div id="publishButton-container">
					<button id="publishButton" (click) = "onPublishSubmit()">Publish</button>
				</div>
			</div>
		</div>
	</div>
</div>
