<%- include('../layouts/header'); %>

		<!--main content-->
		<div class="main-content-wrapper">
			<div class="container" id="up-container">
				<div class="row">
					<div id="AccSettingsBox-container">
						<div id="AccSettings-box">
							<h2>Accoount Settings</h2>
							<div style="margin-top: 20px;">
								<div><span>Email: </span>
									user@gmail.com<i class="fa fa-pencil" aria-hidden="true"></i>
								</div>
								<div><span>Password: </span>
									******<i class="fa fa-pencil" aria-hidden="true"></i>
								</div>
								<div class="hf-label">ADDRESS</div>
								<div><span>Country: </span>
									UAE<i class="fa fa-pencil" aria-hidden="true"></i>
								</div>
								<div><span>City: </span>
									Abu Dhabi<i class="fa fa-pencil" aria-hidden="true"></i>
								</div>
								<div><span>Street: </span> 
									Main road<i class="fa fa-pencil" aria-hidden="true"></i>
								</div>
								<div class="hf-label">Contact details</div>
								<div><span>Mobile: </span>
									9711231234<i class="fa fa-pencil" aria-hidden="true"></i>
								</div>
							</div>
						</div>
					</div>
					<div id="manageAdsBox-container">
						<div id="manageAds-box">
							<h2>Manage Ads</h2>
							
							<div class="manageAdsItem">
								<div class="manageAdsItem-left">
									<span>Ad Number: </span>12
									<div><span>Title: </span>Mercedes Benz- E300</div>
									<div><span>Created Date: </span>7th January 2019</div>
								</div>
								<div class="manageAdsItem-right">
									<button>Mark as sold</button>
									<button>Modify</button>
								</div>
							</div>
							<div class="manageAdsItem">
								<div class="manageAdsItem-left">
									<span>Ad Number: </span>13
									<div><span>Title: </span>Mercedes Benz- E300</div>
									<div><span>Created Date: </span>7th January 2019</div>
								</div>
								<div class="manageAdsItem-right">
									<button>Mark as sold</button>
									<button>Modify</button>
								</div>
							</div>
							<div class="manageAdsItem">
								<div class="manageAdsItem-left">
									<span>Ad Number: </span>14
									<div><span>Title: </span>Mercedes Benz- E300</div>
									<div><span>Created Date: </span>7th January 2019</div>
								</div>
								<div class="manageAdsItem-right">
									<button>Mark as sold</button>
									<button>Modify</button>
								</div>
							</div>
							<div class="manageAdsItem">
								<div class="manageAdsItem-left">
									<span>Ad Number: </span>15
									<div><span>Title: </span>Mercedes Benz- E300</div>
									<div><span>Created Date: </span>7th January 2019</div>
								</div>
								<div class="manageAdsItem-right">
									<button>Mark as sold</button>
									<button>Modify</button>
								</div>
							</div>

						</div>
					</div>
					<div id="NewAdBox-container">
						<div id="NewAd-box">
							<h2>New Ad?</h2>
							<button type="submit" class="button">
								<i class="fa fa-plus-square" aria-hidden="true"></i> Click here</button>
						</div>

					</div>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>
		<script>
			function menuFunction() {
				var x = document.getElementById("mainMenu-links");
				if (x.className === "clearfix") {
					x.className += " open";
				} else {
					x.className = "clearfix";
				}
			}
		</script>

<%- include('../layouts/footer'); %>