<!--main content-->
<div class="main-content-wrapper">
	<div class="container" id="up-container">
		<div class="row">
			<form [formGroup]="accountForm" method="post">
			<div id="AccSettingsBox-container">
				<div id="AccSettings-box">
					<h2>Account Settings</h2>
					<div style="margin-top: 20px;">
						<input id = "userid" type = "hidden" value = "{{user.id}}" />
						<div class="form-group">
							<div>
								<span>Name: </span><a>{{user.username}}</a><i class="fa fa-pencil" aria-hidden="true"></i>
							</div>
							<div class = "d-none">
								<input email type="text" id="username" formControlName="username" class="form-control ba-input" [ngClass]="{ 'is-invalid': submitted && fAccount.username.errors }" placeholder="Enter email address"/>
								<i class="fa fa-check" aria-hidden="true"></i>
								<div *ngIf="submitted && fAccount.username.errors" class="invalid-feedback">
									<div *ngIf="fAccount.username.errors.exist">User name already used</div>
									<div *ngIf="fAccount.username.errors.email">Email is required</div>
								</div>
							</div>
						</div>
						
						<div>
							<div>
								<span>Password: </span><a>**********</a><i class="fa fa-pencil" aria-hidden="true"></i>
							</div>
							<div class = "d-none">
								<input id = "password" formControlName="password" class = "form-control ba-input" type = "password" [ngClass]="{ 'is-invalid': submitted && fAccount.password.errors }" placeholder = "Enter password">
								<i class="fa fa-check" aria-hidden="true"></i>
								<div *ngIf="submitted && fAccount.password.errors" class="invalid-feedback">
									<div *ngIf="fAccount.password.errors.required">Password is required</div>
									<div *ngIf="fAccount.password.errors.minlength">Password must be at least 6 characters</div>
								</div>
							</div>
						</div>

						<div>
							<div id="confimrPasswordDiv" class = "d-none">
								<input id = "confirmPassword" formControlName="confirmPassword" class = "form-control ba-input" type = "password" [ngClass]="{ 'is-invalid': submitted && fAccount.confirmPassword.errors }" placeholder = "Enter confirm password">
								<div *ngIf="submitted && fAccount.confirmPassword.errors" class="invalid-feedback">
									<div *ngIf="fAccount.confirmPassword.errors.required">Confirm Password is required</div>
									<div *ngIf="fAccount.confirmPassword.errors.minlength">Password must be at least 6 characters</div>
									<div *ngIf="fAccount.confirmPassword.errors.mustMatch">Passwords must match</div>
								</div>
							</div>							
						</div>
						
						<div class="hf-label">ADDRESS</div>
						<div>
							<div>
								<span>Country: </span><a>{{user.country}}</a><i class="fa fa-pencil" aria-hidden="true"></i>
							</div>
							<div class = "d-none">
								<input id = "country" class = "ba-input" type = "text" placeholder = "Enter country">
								<i class="fa fa-check" aria-hidden="true"></i>
							</div>
						</div>
						
						<div>
							<div>
								<span>City: </span><a>{{user.city}}</a><i class="fa fa-pencil" aria-hidden="true"></i>
							</div>
							<div class = "d-none">
								<input id = "city" class = "ba-input" type = "text" placeholder = "Enter city">
								<i class="fa fa-check" aria-hidden="true"></i>
							</div>
						</div>
						
						<div>
							<div>
								<span>Street: </span><a>{{user.address}}</a><i class="fa fa-pencil" aria-hidden="true"></i>
							</div>
							<div class = "d-none">
								<input id = "address" class = "ba-input" type = "text" placeholder = "Enter street">
								<i class="fa fa-check" aria-hidden="true"></i>
							</div>
						</div>
							
						<div class="hf-label">Contact details</div>

						<div>
							<div>
								<span>Mobile: </span><a>{{user.mobile}}</a><i class="fa fa-pencil" aria-hidden="true"></i>
							</div>
							<div class = "d-none">
								<input id = "mobile" class = "ba-input" type = "text" placeholder = "Enter mobile number">
								<i class="fa fa-check" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<!--<div style="text-align:center;">
						<button type="submit" class="button" id="hf-button">Save</button>
					</div>-->
				</div>
			</div>
			</form>
			<div id="manageAdsBox-container">
				<div id="manageAds-box">
					<h2>Manage Ads</h2>
					<div class="manageAdsItem"  *ngFor = "let ad of ads">
						<div class="manageAdsItem-left">
							<div><span>Title: </span>{{ad.title}}</div>
							<div><span>Price: </span>{{ad.price | currency}}</div>
							<div><span>Description: </span>{{ad.description}}</div>
						</div>
						<div class="manageAdsItem-right">
							<a href = "/manage-ad/{{ad.id}}">
								<button>Modify</button>
							</a>
							<button>Mark as sold</button>
						</div>
					</div>
				</div>
			</div>
			<div id="NewAdBox-container">
				<div id="NewAd-box">
					<h2>New Ad?</h2>
					<a href = "/new-ad/{{user.id}}">
						<button type="submit" class="button">
						<i class="fa fa-plus-square" aria-hidden="true"></i> Click here</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
