
<div class="main-content-wrapper">
	<div class="container" id="vd-container">
		<div class="row">
			<div id="vdBox-container">
				<div id="vd-box">
					<div id="vdHeader">
						<div id="vdHeader-title">{{row.make + " - " + row.model}}</div>
						<div><span>Price: </span>{{row.price}}</div>
						<div><span>Created Date: </span>{{row.makedate}}</div>
					<div id="vdViewedHeader">
						<div><span>Viewed This: </span>{{row.visit}}</div> 
					</div>
				</div>
					
				<div id="vd-preview">
					<div id="vd-previewImage">
						<i id="vd-previewImageLeft" class="fa fa-caret-left" aria-hidden="true" onclick='previewImageLeft()'></i>
					<img src="{{'assets/uploads/' + row.vehicle_id + '-1.jpg'}}">
					<i id="vd-previewImageFullScreen" class="fa fa-arrows-alt" aria-hidden="true" onclick="previewImage()"></i>	
						<i id="vd-previewImageRight" class="fa fa-caret-right" aria-hidden="true" onclick='previewImageRight()'></i>
					</div>
						<div id="vdPreviewItems">
							<div class="vdItem-image">
								<img src="{{'assets/uploads/' + row.vehicle_id + '-1.jpg'}}">
							</div>
							<div class="vdItem-image">
								<img src="{{'assets/uploads/' + row.vehicle_id + '-2.jpg'}}">
							</div>
							<div class="vdItem-image">
								<img src="{{'assets/uploads/' + row.vehicle_id + '-3.jpg'}}">
							</div>
							<div class="vdItem-image">
								<img src="{{'assets/uploads/' + row.vehicle_id + '-4.jpg'}}">
							</div>
						</div>
						<div id="vd-info">
							<div id="vdInfo-innerLeft">					
								<div><span>Make: </span>{{row.make}}</div>
								<div><span>Model: </span>{{row.model}}</div>
								<div><span>Year:</span>{{row.year}}</div>
								<div><span>Price:</span>{{row.price}}</div>
								<div><span>Transmission:</span>{{row.trans}}</div>
								<div><span>Fuel:</span>{{row.fuel}}
							</div>
								</div>
							<div id="vdInfo-innerRight">
								<div><span>Description: </span>
									{{row.description}}
								</div>
								<div><span>Features: </span>
									<ul>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
